data/
junk/
log
result/
fastqc_data
plot/.RData
plot/.Rhistory
plot/data.tab
spec/unite_spec_rspec.rb
log
table/
data/
fastq/
download/
.bundle/
.ruby-version
april2013/
data/
db/
fastqc_data
march2013/
sra_metadata
tmp/
lib/config.yaml
taxonomy/
